body {
  background-color: lightsteelblue;
  font-family: Garamond, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Sofia', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  color: darksladeblue;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: darkblue;             
  margin-top: 10px;
  margin: 0 auto;
  width: 50%;
}

p {
  text-align: center;                      
  max-width: 600px;                        
  margin: 0 auto;
  line-height: 1.6; 
  font-size: 18px;
}
